<body>
    <div class="container" style="margin-top:90px;">
      <div class="row">
      <div class="col-sm-12">
  <div class="card text-white bg-primary mb-3"
   style = "width: 50rem; margin: auto; text-align:center;">
      <div class = “card-header”>
      <!-- the card header text -->
      <h1>
          Welcome to your follower feed!
      </h1>
      </div>
      <div class = “card-body”>
      <!-- the card body text -->
      </div>
      <div class = “card-footer”>
      <!-- the card footer text -->
      </div>
      </div>
  </div> <!-- col -->
  </div> <!-- row -->
  </div> <!-- container -->
  
          <!-- View Posts Area-->
          <div class="container" style="text-align:center">
            <div class="row">
                <div class="col-sn-12">
                  <div *ngFor="let follow of webService.following">
                    <div class="card text-white bg-dark mb-3" style = "width: 50rem; text-align:center">
                      <div class="card-header">
                                    <!-- the card header text -->
                        <!-- Display replies button -->
                        <br>
                        <div><!-- replies button div start -->
                          <button class="btn btn-sm btn-danger" style="margin:5px; float: right;" [routerLink]="['/home', follow.id]">Display replies</button>
                          <br>
                        </div><!-- follow button div end -->
                        <br>
                        <img src = "{{webService.imagePath}}{{follow.filePath}}" class="center" style="width: 500px;">
                      </div>
                      <div class="card-body">
                        Comment:
                        {{follow.postComment}}
                      <div class="card-footer">
                        Uploaded by:
                        {{follow.userName}}
                        <br>
                        Date:
                        {{follow.date | date:'medium'}}
                        <br>
            <br>
            <!-- the card footer text -->
            <h4 style="text-align: left;">Reply</h4>
            <form method="POST" style="font-size: 10pt;" [formGroup]="replyForm"  (ngSubmit)="submitReply(follow.id)" enctype="multipart/form-data">
              <div class="form-group">
                <label for="replyComment" class="form-label"></label>
                <input type="textarea" class="form-control" id="replyComment" formControlName="replyComment">
              </div>
              <br>
              <button type="submit" id="replyForm" class="btn btn-primary" style= "float: left;">Submit Reply</button> <br><br/><br/>
            </form>
                      </div>
                      <div style="padding:5px;">
                    </div>
                    </div>
                  </div>
                </div> <!-- col -->
            </div>
          </div><!-- container -->