<h1>
    Sports Directory
</h1>

<div class="container" style="margin-top:70px;">
    <div class="row">
    <div class="col-sm-12">
    <!--country stuff -->
    <div *ngFor="let sport of webService.sport_list | paginate : {
        itemsPerPage: 10, currentPage: p};">
    <div class="card text-white bg-dark mb-3"
    [routerLink]="['/sports', sport._id]"  
    style = "width: 50rem; margin: auto; cursor: pointer">
    <div class="card-header">
    {{ sport.Sport }}
    </div>
    <div class="card-body">
        Sport Rank is
    {{ sport.FemaleEntry }}
    </div>
    <div class="card-footer">
    {{ sport.MaleEntry }}
    Total Medals
    <!--country stuff -->
    </div>
    </div>
    </div>
    </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
        <div class="center">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
   </div> <!-- container -->