<!doctype html>
  <head>
    <meta charset="UTF-8">

  </head>
  <body>
    <!-- TITLE AREA-->
<body><!-- body -->
  <div class="container" style="margin-top:90px;"> <!-- the container -->
    <div class="row"> <!-- row -->
      <div class="col-sm-12"> <!-- column -->
        <!-- Bootstrap card start -->
        <div class="card text-white bg-primary mb-3" style = "width: 50rem; margin: auto; text-align:center;">
          <div class = "card-header">
          <!-- the card header text -->
          <h1>
              Make a post!
          </h1>
          </div>
          <!-- Bootstrap card end -->
        </div>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

    <div  class="container" style="margin-top:90px;">

                <!--Header 2-->
                <div class="row align-items-start">
                  <div class="col-2"  ></div>
      
                  <div class="col-8" style="text-align: center;">
                    <p><strong><h2>Make a Post!</h2></strong></p>
                  </div>
      
                  <div class="col-2"  ></div>
              </div>

        <!--New  test form-->
        <div class="row align-items-start">
          <div class="col-2"  ></div>

          <div class="col-8" style="text-align: left;border-bottom:1px solid #222222;">

            <form method="POST" style="font-size: 10pt;" [formGroup]="subNewForm"  (ngSubmit)="submitNewAsset()" enctype="multipart/form-data">

              <div class="form-group">
                <label for="postComment" class="form-label"><h5><strong>Comment</strong></h5></label>
                <input type="text" class="form-control" id="postComment" formControlName="postComment">
              </div>

              <div class="form-group">
                <label for="filePath" class="form-label"><h5><strong>Image to upload</strong></h5></label>
                <input type="file" class="form-control" id="filePath" (change)="onFileSelect($event)">
              </div>
          
              <button type="submit" id="subNewForm2" class="btn btn-primary" style="margin-top:50px;">Submit</button> <br/><br/>
              
            </form>
          </div>

          <div class="col-2"  ></div>
      </div>